<div class="flex flex-col">
    <h3 class="text-2xl mb-4"><%= ability.name %></h3>
    <div class="flex w-full min-h-4 h-4 bg-white bg-opacity-15 mb-3 rounded-lg overflow-hidden">
      <span class="bg-aqua-self text-transparent" style="width: <%= ability.percent*100 %>%;">0</span>
    </div>
    <div class="flex justify-between">
      <span>Bajo</span>
      <span>Medio</span>
      <span>Alto</span>
    </div>
</div>