@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
* {
    color: white;
}

body {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

[svg] {
    width: 1.1em !important;
    height: 1.1em !important;
    line-height: 1.2em;
}

[svg] svg {
    width: 1em !important;
    height: 1em !important;
    color: inherit;
}

.svg-hover svg {
    scale: 0.8;
}

.svg-hover:hover svg {
    --color: 255, 255, 255;
    scale: 1;
    filter: drop-shadow(0 0 0.5rem rgba(var(--color), 0.5) );
}

[svg] svg * {
    color: inherit;
    fill: currentColor;
}

.marked span {
    @apply text-aqua-self;
}

.dot-panel {
    display: flex;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

.dot {
    --color: red;
    --y-start: 0;
    --x-start: 0;
    --y-offset: var(--y-start);
    --x-offset: var(--x-start);
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: radial-gradient(circle, var(--color) 0%, rgba(1,0,0,0) 60%);
    color: transparent;
    animation: dot 5s infinite alternate ease-in-out;
}

.aqua {
    --color: #00F0FF;
}

.cyanide {
    --color: #00A3FF;
}

.link:hover {
    --color: #59f4ff;
    filter: drop-shadow(0 0 4px #00F0FF);
    transition: scale .1s ease-in,filter .1s ease-in-out;
    scale: 1.1;
}

@keyframes dot {
    
    0% {
        transform: translate(var(--x-start), var(--y-start));
    }
    100% {
        transform: translate(var(--x-offset), var(--y-offset));
    }
}

@media (max-width: 450px) {
    :root {
        font-size: 12px;
    }
}

.btn.disabled i {
    display: none;
}
